<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Booking Details</title>
</head>
<body>
    <h1>Booking Details</h1>
    <table>
        <tr>
            <th>ID</th>
            <td th:text="${booking.id}"></td>
        </tr>
        <tr>
            <th>Email</th>
            <td th:text="${booking.email}"></td>
        </tr>
        <tr>
            <th>Phone</th>
            <td th:text="${booking.phone}"></td>
        </tr>
        <tr>
            <th>Date</th>
            <td th:text="${booking.date}"></td>
        </tr>
        <tr>
            <th>Time Slot</th>
            <td th:text="${booking.timeSlot}"></td>
        </tr>
        <tr>
            <th>Service</th>
            <td th:text="${booking.service}"></td>
        </tr>
        <tr>
            <th>Workshop</th>
            <td th:text="${booking.workshop}"></td>
        </tr>
        <tr>
            <th>Location</th>
            <td th:text="${booking.location}"></td>
        </tr>
        <tr>
            <th>Status</th>
            <td th:text="${booking.status}"></td>
        </tr>
        <tr>
            <th>Additional Info</th>
            <td th:text="${booking.request}"></td>
        </tr>
    </table>
</body>
</html>
